<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    This is our 3rd class
    <!-- Public URL -->
    <a href="https://en.wikipedia.org/wiki/Pakistan"target="_blank">Pakistan</a>

  <div class="navbar bold" id="navbar">
    <a href="./about.html">Home</a>
    <a href="./contactUs.html">contact US</a>
    <a href="./dev.html">dev</a>
  </div>

  <div class="bold">

  </div>

  <!-- Images -->
   <!-- Locally -->
  <img src="./Beauty Kit.jpeg"alt="" width="100" height="100">

  <!-- cloud -->
  <img src="https://wallpapercat.com/donald-duck-wallpapers"alt="" width="100" height="100">
  <table>
    <thead>
      <th>Name</th>
      <th>JobType</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr>
        <td>Kalsoom</td>
        <td>Web Developer</td>
        <td>kalsoom@gmail.com</td>
      </tr>
      <tr>
        <td>Afshan</td>
        <td>Kitchen Chief</td>
        <td>afshan@gmail.com</td>
      </tr>
      <tr>
        <td>Saeed</td>
        <td>Engineer</td>
        <td>saeed@gmail.com</td>
      </tr>
    </tbody>
  </table>
  </body>
</html>
